* {
    background-color:black;
}
#heading {
    font-family:Verdana;
    font-weight:normal;
    font-size:50px;
    text-align:center;
    color:white;
}
p.download, a {
color:aquamarine;
font-size:16px;
text-align:center;
}

.center-vid {
    display:block;
    margin-left: auto;
    margin-right: auto;
}